<form action="/places" method="post">
    <label for="cityName">Add a new City:</label>
    <input type="text" name="cityName" id="cityName"> <br>
    <label for="duration">How long did you stay:</label>
    <input type="text" name="duration" id="duration"> <br>
    <label for="group">Did you travel with anyone:</label>
    <input type="text" name="group" id="group"> <br>
    <label for="journalEntry">Main Journal Entry:</label>
    <input type="text" name="journalEntry" id="journalEntry"> <br>
    <button type="submit">Submit</button>
</form>