<h1>Journal Entry Details:</h1>

<h2>@Model.CityName</h2>
<ul>
    <li>Stayed: @Model.Duration</li>
    <li>Went with: @Model.Group</li>
    <li>Entry: @Model.JournalEntry</li>
</ul>

<a href="/places/new">Add another Journal Entry</a> <br>
<a href="/places">View all Journal Entries</a>